
.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none; 
  }
  
  .custom-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.7); 
  }
 
  .carousel-image {
    border-radius: 10px;
    border: 2px solid #fff;
    transition: transform 0.3s ease;
  }
  
  .carousel-image:hover {
    transform: scale(1.05); 
  }
  

  .custom-button {
    height: 70px;
    width: 142px;
    margin-top: 20px;
    background-color: #28a745;
    border-color: #28a745;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #218838; 
    transform: scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); 
  }

  .custom-card strong {
    color: #28a745; 
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    padding: 10px;
  }
  
 
  @media (max-width: 768px) {
    .custom-card {
      padding: 10px;
    }
  
    .custom-button {
      width: 100%; 
    }
  }